/* FILENAME: const-var.css */

:root {
    /* COLORS */

    --COLOR-MAIN-TEXT:       #89E900;
    --COLOR-MAIN-HOVER:       #b2f30e;
    --COLOR-LOG-TEXT: #efe5d9;
    --COLOR-MAIN-BACKGROUND: #222222;
    --COLOR-ABSOLUTE-BACKGROUND: #141414;
    
    --COLOR-MAIN-ACCENT: #abff93;

    --COLOR-HOVER-BACKGROUND: #384525;
    --COLOR-LOGFIELD-BACKGROUND: #21311c;

    --COLOR-OVERLAY: rgba(0, 0, 0, 0.8);
}