/* FILENAME: filter-chip.css */
@import "./const-vars.css";

#tags-filter {
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 5px;
}

.filter-chip {
    padding: 10px;
    border: 2px solid var(--COLOR-MAIN-TEXT);
}

.filter-chip:hover {
    color: var(--COLOR-ABSOLUTE-BACKGROUND);
    background-color: var(--COLOR-MAIN-HOVER);
    border: 2px solid var(--COLOR-MAIN-HOVER);
}