/* IMPORTS */
@import url();
@import "./const-vars.css";


p, li, span, label, select, input {
    color: var(--COLOR-MAIN-TEXT);
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

a {
    color: var(--COLOR-MAIN-TEXT);
    text-decoration: none;
}

/*
.space-mono-regular {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

.space-mono-bold {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.space-mono-regular-italic {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: italic;
}

.space-mono-bold-italic {
    font-family: "Space Mono", monospace;
    font-weight: 700;
    font-style: italic;
}
./