/* IMPORTS */
@import "./const-vars.css";


h3, p, li, span, label, select, input, button, div {
    color: var(--COLOR-MAIN-TEXT);
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

a {
    color: var(--COLOR-MAIN-TEXT);
    text-decoration: none;
}